[submodule "Dependences/ASIO"]
	path = Dependences/ASIO
	url = git://github.com/chriskohlhoff/asio.git
[submodule "Dependences/Bullet"]
	path = Dependences/Bullet
	url = git://github.com/bulletphysics/bullet3.git
[submodule "Dependences/FreeType"]
	path = Dependences/FreeType
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "Dependences/DirectXMath"]
	path = Dependences/DirectXMath
	url = git://github.com/Microsoft/DirectXMath.git
[submodule "Dependences/DirectXShaderCompiler"]
	path = Dependences/DirectXShaderCompiler
	url = git://github.com/Microsoft/DirectXShaderCompiler
[submodule "Dependences/GLEW"]
	path = Dependences/GLEW
	url = git://github.com/nigels-com/glew.git
[submodule "Dependences/KTX"]
	path = Dependences/KTX
	url = git://github.com/KhronosGroup/KTX-Software.git
[submodule "Dependences/OpenGL"]
	path = Dependences/OpenGL
	url = git://github.com/KhronosGroup/OpenGL-Registry.git
[submodule "Dependences/EGL"]
	path = Dependences/EGL
	url = git://github.com/KhronosGroup/EGL-Registry.git
[submodule "Dependences/VulkanHeaders"]
	path = Dependences/VulkanHeaders
	url = git://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Dependences/OpenCLHeaders"]
	path = Dependences/OpenCLHeaders
	url = git://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "Dependences/LibCLCXX"]
	path = Dependences/LibCLCXX
	url = git://github.com/KhronosGroup/libclcxx.git
[submodule "Dependences/TBB"]
	path = Dependences/TBB
	url = git://github.com/01org/tbb.git
[submodule "Dependences/Lua"]
	path = Dependences/Lua
	url = git://github.com/lua/lua.git
[submodule "Dependences/LibNoise"]
	path = Dependences/LibNoise
	url = git://github.com/eXpl0it3r/libnoise.git
[submodule "Dependences/McNopper_EGL"]
	path = Dependences/McNopper_EGL
	url = git://github.com/McNopper/EGL.git
[submodule "Dependences/TinyXML2"]
	path = Dependences/TinyXML2
	url = git://github.com/leethomason/tinyxml2.git
[submodule "Dependences/BOOST"]
	path = Dependences/BOOST
	url = git://github.com/boostorg/boost.git
[submodule "Dependences/DirectXTK"]
	path = Dependences/DirectXTK
	url = git://github.com/microsoft/DirectXTK.git
[submodule "Dependences/HLSLcc"]
	path = Dependences/HLSLcc
	url = git://github.com/Unity-Technologies/HLSLcc.git
[submodule "Dependences/AGS_SDK"]
	path = Dependences/AGS_SDK
	url = git://github.com/GPUOpen-LibrariesAndSDKs/AGS_SDK.git
[submodule "Dependences/GPUOpen/D3D12MemoryAllocator"]
	path = Dependences/GPUOpen/D3D12MemoryAllocator
	url = git://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "Dependences/GPUOpen/VulkanMemoryAllocator"]
	path = Dependences/GPUOpen/VulkanMemoryAllocator
	url = git://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Dependences/GPUOpen/RadeonRays_SDK"]
	path = Dependences/GPUOpen/RadeonRays_SDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/RadeonRays_SDK.git
[submodule "Dependences/volk"]
	path = Dependences/volk
	url = git://github.com/zeux/volk.git
	branch = master
